html, body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color:black
}
div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.module-inner{
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    max-width: 1200px;
    width: 100%;
}
td{
    color:#8d8d8d;
}
span{
    color:#8d8d8d;
}
